@model IEnumerable<ProyectoUTN.Modelos.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
             <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nombre)
                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  Id= item.Id}) |
                @Html.ActionLink("Details", "Details", new { Id= item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { Id= item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
